footer {
	height: 60px;
	width: 100%;
	border-top: 1px solid;
	border-top-color: #CCCCCC;
	position: fixed;
	bottom: 0;
	background-color: white;
	text-align: center;
}

footer span {
	line-height: 60px;
}
